.possibleAnswer {
  color: #fff;
  background-color: #303030;
  border-bottom: 1px solid #555;
  cursor: pointer;
  user-select: none;

  p {
    padding: 1rem;
  } 

  p:last-child{
    border-bottom: none;
  }

  &:hover {
    background-color: #474747;
  }
}

.possibleAnswer:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
} 

.possibleAnswer:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}