.currentQuestion {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #555;
  border-radius: .25rem;
  display: flex;

  .currentImg {
    margin: 0 20px 0 0;
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: rgb(219, 230, 235);;
  }

  .currentQuestionDescription {
    width: 100%;

    p {
      padding: 10px;
      border-bottom: 2px solid #555;
    }

    .player {
      margin-top: 1.5rem;
      border-radius: .25rem;
      width: 100%;
      padding: .5rem;
      background-color: rgb(219, 230, 235);
    }
  }
}