.level {
  display: flex;
  justify-content: center;
  padding: 10px;
  flex: 1 0 auto;
  cursor: pointer;
  background-color: #008966;
}

// .level:first-child {
//   border-bottom-left-radius: .20rem;
//   border-top-left-radius: .20rem;
// }

// .level:last-child {
//   border-bottom-right-radius: .20rem;
//   border-top-right-radius: .20rem;
// }

.currentLevel {
  background-color: #00bc8c;
}