.description { 
  display: flex;
  border: 1px solid rgb(71, 70, 70);
  border-radius: 0.25rem;
  background-color: #303030;
  height: 100%;
  color: #fff;

  .shotDescription {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(71, 70, 70);

    .descriptionImg {
      margin: 0 20px 0 0;
      width: 100px;
      height: 100px;
      border: 2px solid rgb(71, 70, 70);
      border-radius: 5px;
      background-size: cover;
    }

    .species {
      width: 100%;

      .player {
        border-radius: 10px;
        width: 100%;
        padding: 10px;
        background-color: rgb(219, 230, 235);
      }
    }
  }

  p {
    padding: .5rem;
  }

  .fullDescription {
    padding: 10px 20px;
  }
}  